/* For responsive work*/

@media screen and (min-width: 300px) {
    .Box {
      grid-template-columns: repeat(auto-fit, minmax(16rem, 36rem));
    }
  
    .card {
      flex-direction: column;
      text-align: center;
      min-width: 16rem;
      width: 100%;
      height: 40rem;
      
    }
  }


  .cardActions{
    max-height: 350px;
  }

  .categoryName{
    display : block;
    font-size: 15px;
    width : 100%;
    font-weight: 600;
    height : 35px;
    overflow : hidden;
  }

  .Box{
    width : fit-content;
  }