
.header
{
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: column;
    top: 0;
}
 

.signupOptions{
    display : flex;

}

@media screen and  (max-width: 676px){
    .signupOptions{
        /* display : none; */
        display : flex;
        flex-direction: column;
    }
}
.logo{
    /* padding : 10px; */

}
.logoImage{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}

@media screen and (max-width: 559px) {
    .header{
        display : flex;
        flex-direction : column-reverse;
    }
    
}

.makeStyles-defaultHeader-2{
    margin-bottom: 10px;
}

#standard-basic-label{
 display : none !important;
    font-weight: 900 !important;
}